@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "Oxygen";
}

.turnLeft {
  background-image: url(https://cdn.stairbox.com/assets/stairbox-com/pages/stairbuilder/left_turn.png);
  background-size: cover;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}
.turnRight {
  background-image: url(https://cdn.stairbox.com/assets/stairbox-com/pages/stairbuilder/right_turn.png);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}
